[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/oh-my-zsh-plugins/plugins/zsh-autosuggestions"]
	path = zsh/oh-my-zsh-plugins/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/oh-my-zsh-plugins/themes/powerlevel9k"]
	path = zsh/oh-my-zsh-plugins/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
